<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
   <link rel="stylesheet" type="text/css" href="{{ "/assets/style.css" | prepend: site.url }}"/>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
   <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        {{ site.description }}
      </div>
      <div class="hentry post">
        {% for post in site.posts %}
          <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <div class="post-meta">{{ post.date | date: "%B %d, %Y" }}</div>
          <div class="post-content">{{ post.content | strip_html | truncatewords:50 }}</div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
